@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Roboto:ital,wght@1,700&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Barra */

.barra {
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.barra header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.barra header .logo a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
    color: white;
    text-decoration: none;
}

.barra header ul{
    display: flex;
    list-style: none;
}

.barra header nav ul li a{
    text-align: none;
    color: white;
    margin: 0 15px;
    padding: 10px;
    transition: .5s;
    text-decoration: none;
}

body{
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)), url(comedor.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    height: 100vh;
    
    
}

.titulo{
    margin: 0 auto;
    color: white;
}

.titulo .uno .dos .tres .cuatro .cinco{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
}
.titulo .uno{
    margin: 80px;
}

.titulo .dos{
    margin: 80px;
}
.titulo .tres{
    margin: 80px;
}
.titulo .cuatro{
    margin: 80px;
}
.titulo .cinco{
    margin: 80px;
}

.dato .dato1{
    color: white;
    margin: 80px;
    font-size: 40px;
    
}

.dato .nombre2{
    color: white;
    margin: 80px;
    font-size: 25px;
}

.dato .ubi3{
    color: white;
    margin: 80px;
    font-size: 25px;
}

.dato .funda4{
    color: white;
    margin: 80px;
    font-size: 25px;
}

.historia .info{
    font-size: 40px;
    color: white;
    margin: 80px;
}

.historia .texto{
    font-size: 25px;
    margin: 80px;
    color: white;
}

.comoayudar .ayuda{
    font-size: 25px;
    color: white;
    margin: 80px;
}

.comoayudar .ayudados{
    font-size: 25px;
    color: white;
    margin: 80px;
}

.comoayudar .contacto{
    font-size: 25px;
    color: white;
    margin: 80px;
}

.integ .integrante{
    margin: 80px;
    color: white;
    font-size: 30px;
}

.integ .manu{
    margin: 80px;
    color: white;
    font-size: 30px
    
}

.integ .grego{
    margin: 80px;
    color: white;
    font-size: 30px;
}

.integ .fer{
    margin: 80px;
    color: white;
    font-size: 30px;
}

.proyect .propu{
    margin: 80px;
    color: white;
    font-size: 30px;
}

.proyect .titul{
    margin: 80px;
    color: white;
    font-size: 30px;
}

.proyect .desc{
    margin: 80px;
    color: white;
    font-size: 30px;
}


.avance .avanceuno{
    color: white;
    margin: 80px;
    font-size: 30px;
}

.avance .avancedos{
    color: white;
    margin: 80px;
    font-size: 30px;
}

.avance .avancetres{
    color: white;
    margin: 80px;
    font-size: 30px;
}

.avance .avancecuatro{
    color: white;
    margin: 80px;
    font-size: 30px;
}

.avance .avancecinco{
    color: white;
    margin: 80px;
    font-size: 30px;
}

.avance .avanceseis{
    color: white;
    margin: 80px;
    font-size: 30px;
}

.proc{
    margin: 80px;
    font-size: 50px;
    color: white;
}

.puntouno{
    color: white;
    margin: 80px;
    font-size: 30px;
}

.puntodos{
    color: white;
    margin: 80px;
    font-size: 30px;
}

.tre{
    color: white;
    margin: 80px;
    font-size: 30px;
}

.foto {
   align-items: center;
  
}

img {
    display: block;
    margin: auto;
  }

.rol{
    color: white;
    margin: 80px;
    font-size: 30px;
}

.proto{
    color: white;
    margin: 80px;
    font-size: 30px;
}

.roldos{
    color: white;
    margin: 80px;
    font-size: 30px;
}

.roltres{
    color: white;
    margin: 80px;
    font-size: 30px;
}

.imagen{
    display: flex;
    margin-left: 0;
}

.imagen img{
    margin-left: 8px;
    background-color: white;
}

.avance p a{
    text-decoration: none;
    color: white;

}
.avance p a:hover{
    color: aqua;
}

.hugo .manu a{
    text-decoration: none;
    color: white;

}

.augusto .grego a{
    text-decoration: none;
    color: white;
}

.tomi .fer a{
    color: white;
    text-decoration: none;
}

.hugo .manu a:hover{
    color: aqua;
}
.augusto .grego a:hover{
    color: aqua;
}
.tomi .fer a:hover{
    color: aqua;
}

.flaco .proto a{
    text-decoration: none;
    color: white;
}

.flaco .proto a:hover{
    color: aqua;
}

.dimaria .proc a{
    text-decoration: none;
    color: white;
}

.dimaria .proc a:hover{
    color: aqua;
}

/*RESPONSIVE*/


@media screen and (max-width:740px){
    #nav ul{
        display: block;
    }


    .titulo{
        display: block;
        font-size: 10px;
        margin-left: -50px;
        margin-top: 100px;
        
        
    }

    .integ .integrante{
        display: block;
        font-size: 20px;
        margin-left: 20px;
    }

    .integ .hugo .manu{
        display: block;
        font-size: 20px;
        margin-left: 20px;
    }

    .integ .augusto .grego{
        display: block;
        font-size: 20px;
        margin-left: 20px;
    }

    .integ .tomi .fer{
        display: block;
        font-size: 20px;
        margin-left: 20px;
    }

    .proyect .desc{
        display: block;
        font-size: 20px;
        margin-left: 20px;
    }

    .proyect .propu{
        display: block;
        font-size: 20px;
        margin-left: 20px;
        margin-top: 150px;
        
    }

    .proyect .titul{
        display: block;
        font-size: 20px;
        margin-left: 20px;
    }

    .avance .avanceuno a{
        display: block;
        font-size: 20px;
        margin-left: -30px;
        margin-top: 150px;
        
        
    }
    
    .avance .avancedos a{
        display: block;
        font-size: 20px;
        margin-left: -30px;
    }

    .avance .avancetres a{
        display: block;
        font-size: 20px;
        margin-left: -30px;
    }

    .avance .avancecuatro a{
        display: block;
        font-size: 20px;
        margin-left: -30px;
    }

    .avance .avancecinco a{
        display: block;
        font-size: 20px;
        margin-left: -30px;
    }

    .avance .avanceseis a{
        display: block;
        font-size: 20px;
        margin-left: -30px;
    }

    .puntouno{
        display: block;
        margin-top: 150px;
        font-size: 18px;
        margin-left: 30px;
    }

    .puntodos{
        display: block;
        font-size: 18px;
        margin-left: 30px;
    }

    .tre{
        display: block;
        font-size: 18px;
        margin-left: 30px;
    }

    .dimaria .proc{
        display: block;
        font-size: 10px;
        margin-left: 25px;
    }

    .flaco .proto{
        display: block;
        font-size: 7px;
        margin-left: 20px;
    }

    .rol{
        display: block;
        font-size: 20px;
        margin-left: 25px;
    }

    .roldos{
        display: block;
        font-size: 20px;
        margin-left: 25px;
    }

    .roltres{
        display: block;
        font-size: 20px;
        margin-left: 25px;
    }

.imga img{
    display: block;
    width: 100%;
}
}
